
.about_tit{
    font-size: 50px;
    font-weight: 600;
    color: #02066b;
    margin-bottom: 30px;
    font-family: "Poetsen One", sans-serif;
}
.about_info{
    font-family: "Poetsen One", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: #242323;
}
.about_txt{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #292929;
}
.about_txt_2{
    border-top: 3px solid #707072;
    padding: 15px;
    border-bottom: 3px solid #707072;
}
.about_txt b{
    font-size: 23px;
    font-weight: 800;
    color: #010697;
}

/**/
.about_img{
    gap: 10%;
    flex-wrap: nowrap;
}
.press {
    width: 8563px;
    height: 428px;
    display: flex;
  }
  .press-item {
    list-style: none;
    width: 25%;
    background: url(../../img/about-fon.jpg) no-repeat;
    background-size: cover;
    transition: 0.5s; 
    
  }
  .press:hover .press-item:nth-child(odd) {
    transform: skewY(15deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0, .5);
  }
  .press:hover .press-item:nth-child(even) {
    transform: skewY(-15deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0, .5);
  }
  .press .press-item:nth-child(1) {
    background-position: 0; 
  }
  .press .press-item:nth-child(2) {
    background-position: -160px;
  }
  .press .press-item:nth-child(3) {
    background-position: -320px;
  }
  .press .press-item:nth-child(4) {
    background-position: -480px;
  }
  .about_fon_txt{
    color: #3e3e3e;
  }

  /**/

  /*creators*/
  .about_creators{
    flex-wrap: nowrap;
    gap: 3%;
  }
  .about_me{
    background: url(../../img/me-about.jpg) no-repeat;
  }
  .about_br{
    background: url(../../img/creators-br.jpg) no-repeat;
  }
  .about_br2{
    background: url(../../img/creators-br2.jpg) no-repeat;
  }
  .image-parlax{
    width: 34%; /* Ширина изображения */
    cursor: pointer;
  }
  .image-container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
        perspective: 1000px;
  }
  .front-side, .back-side{
    background-size: cover;
    background-position: center;
    min-height: 350px; /* Высота изображения */
    height: auto;
    border-radius: 50%; /* Скругление углов */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
  }
  .back-side{
    background: #343434;
    background: -webkit-linear-gradient(45deg,  #343434 0%,#000000 100%);
    background: -o-linear-gradient(45deg,  #343434 0%,#000000 100%);
    background: linear-gradient(45deg,  #343434 0%,#000000 100%);
  }
  .front-side:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    border-radius: 50%; /* Скругление углов */
  }
  .image-container:hover .front-side,
  .image-container:hover .back-side{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  .back-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
              box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
              perspective: inherit;
    z-index: 2;
  }
  .image-container .back-side{
    -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  .image-container .front-side{
    -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  .image-container:hover .back-side{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .image-container:hover .front-side{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .front-side .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  .front-side .inner p:after{
    content: '';
    width: 4rem;
    height: 1px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  .front-side .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  /*creators*/