.contact_main{
    background: url(../../img/Contact_us1.jpg)no-repeat;
    width: 100%;
    height: 395px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgb(108, 101, 198);;
    position: relative;
    margin: 100px 0 80px;
}
.contact_tit{
        color: #ffffff;
        font-weight: 600;
        font-size: 72px;
        margin: 40px 0 50px;
        text-align: center;
        padding: 12%;
        font-family: "Poetsen One", sans-serif;
    }
.contact_phon{
    color: black;
    margin-bottom: 20px;
    display: flex;
    gap: 1%;
}
a span,
p span{
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
}
.Whatsapp{
    color: rgb(0, 21, 255);
    height: 3%;
    width: 3%;
}
.contact_phon_tit{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
}
a.contact_phon,
.contact_phon_tit a{
    transition: 0.3s;
}
a.contact_phon:hover,
.contact_phon_tit a:hover{
    color: #339;
}

@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
    .contact_tit {
        font-size: 59px;
    }
    .Whatsapp {
        width: 7%;
    }
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
    .contact_tit {
        font-size: 39px;
        width: 171px;
        padding: 30% 0;
    }
    .contact_phon_tit{
        width: 176px;
    }
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}