.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 2;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
.effect-text-four{
	position: relative;
}
.effect-text-four::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0;
	z-index: 1;
	transition: 0.3s;
}
.effect-text-four:hover::before{
	opacity: 0.5;
}
.effect-text-four figcaption{
	position: relative;
	z-index: 10;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
	position: relative;
	overflow: hidden;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
    
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    top: 65px;
    left: 50px;
    color: rgb(213, 213, 213);
    font-size: 30px;
    font-weight: 600;
   
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.home_tit{
    margin-bottom: 50px;
    text-align: center;
    font-size: 70px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}
.font_bebas{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.selling_cardss,
.selling_cards{
    justify-content: normal;
    flex-wrap: nowrap;
}
.selling_cardss{
    margin-top: -5px;
}
.selling_min_txt{
    color: white;
    font-size: 20px;
}

/* Эффект при наведении */
figure.effect-text-four figcaption {
	text-align: right;
}
figure.effect-text-four h3,
figure.effect-text-four p {
	right: 30px;
	left: 30px;
	padding: 10px 0;
}
figure.effect-text-four p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
figure.effect-text-four h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}
figure.effect-text-four:hover h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-four h3::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}
figure.effect-text-four h3::after,
figure.effect-text-four p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-four:hover h3::after,
figure.effect-text-four:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.home_btn{
	color: black;
    width: 20%;
    background: #fff;
    padding: 10px 27px;
    transition: 0.5s;
    border-radius: 20%;
	font-size: 16px;
	font-weight: 700;
}
.home_btn:hover{
    background: #000;
	color: #fff;
}
.home_img2{
    height: 308px;
    width: 547px;
}





@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
	.container_h{
		flex-wrap: wrap;
		margin: 0 20%;
	}
	figure.effect-text-three p{
		font-size: 23px;
	}
	.hover-text-one figure figcaption{
		padding: 0 5%;
	}
	figure.effect-text-four h3 {
		font-size: 31px;
		
	}
	figure.effect-text-three h3{
		padding: 5% 0 0;
	}
	.selling_cardss, .selling_cards{
		flex-wrap: wrap;
		gap: 30px;
	}
	.selling_cardss {
		margin-top: 36px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
	.container_h{
		margin: auto;
	}
	figure.effect-text-three h3{
		font-size: 29px;
	}
	figure.effect-text-three p {
		font-size: 12px;
	}
	figure.effect-text-four h3 {
		font-size: 23px;
	}
	.home_img2 {
		height: 175px;
		width: 306px;
	}
	figure.effect-text-four h3::after, figure.effect-text-four p {
		font-size: 6px;
	}
	.home_btn {
		padding: 2px 13px;
		font-size: 9px;
		font-weight: 700;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}


/*slider*/

.home_body {
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
}

.container_h {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container_h .card {
    position: relative;
}

.container_h .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 1;
}
.container_h .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}



.container_h .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container_h .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container_h .card:hover .face.face1{
    transform: translateY(0px);
}

.container_h .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container_h .card:hover .face.face1 .content {
    opacity: 1;
}

.container_h .card .face.face1 .content i{
    max-width: 100px;
}

.container_h .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container_h .card:hover .face.face2{
    transform: translateY(0);
}

.container_h .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
	margin-top: 22%;
	font-size: 18px;
	font-weight: 600;
}

.container_h .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container_h a {
    text-decoration: none;
    color: #414141;
}
.animation_img{
	width: 301px;
    height: 278px;
}

/*accordion*/
.accordion_tit{
	margin-bottom: 50px;
    text-align: center;
    font-size: 70px;
    font-family: "Poetsen One";
    font-weight: 400;
}
.about-us-accordion,
  .about-us-cards {
    margin-top: 20px;
  }
  
  .about-us-accordion h2,
  .about-us-cards h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-button {
	font-family: "Poetsen One", sans-serif;
	background: rgb(105, 105, 189);
    width: 100%;
    padding: 20px;
    border: none;
	font-weight: 400;
    border-radius: 8px;
    font-size: 23px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color: #339;
  }
  
  .accordion-button.active {
    background-color: #339;
    color: #fff;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #c0c0ff;
    margin-top: 10px;
  }
  
  .accordion-content.active {
    display: block;
  }
  .accordion_txt{
	font-size: 20px;
	font-family: sans-serif;
  }
  /*accordion*/