/* footer{
  padding: 20px;
  background: url(../../img/footer-fon.png);
}
.footer_card_tit{
  font-size: 50px;
    color: #ffffff;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    margin-bottom: 5%;
    text-align: left;
    padding: 2%;
    border-bottom: 3px solid rgb(85 85 85);
}
.footer_cards{
  flex-wrap: nowrap;
}
.footer_card_txt{
  text-align: left;
  font-family: "Poetsen One", sans-serif;
    color: rgb(143 143 143);
    font-size: 18px;
    font-weight: 600;
    width: 300px;
}
.link_card2{
  width: 50%;
  height: 5%; 
  margin-top: 17%;
  color: #b388dd;
}
.link_card{
  width: 32%;
  height: 5%; 
  color: #b388dd;
}
.footer_card_ic_txtW,
.footer_card_ic_txt{
    margin: 5% 0;
    font-size: 26px;
    color: #ffffff;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}
.footer_card_ic_txtW{
  margin-top: 20px;
}
.footer_phon span{
  transition: 0.3s;
  color: rgb(73 73 73);
  font-size: 18px;
  font-weight: 600;
}
.footer_phon span:hover{
  color: rgb(151, 151, 151);
}
.footer_card{
  border-left: 2px solid rgb(85 85 85);
  padding:5% ; 
  align-self: center;
  text-align: center;
}
.footer_card1{
  border: none;
}
.footer_cards :last-child{
  margin-bottom: 29px;
} */

footer{
  background: #26266b;
  padding: 100px;
  color: white;
}
.footer_card_tit{
  font-size: 50px;
    color: #ffffff;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    margin-bottom: 5%;
    text-align: left;
    border-right: 3px solid rgb(85 85 85);
    padding: 0 20px;
}
.footer_nav .Menu .footer_navs li{
  font-size: 18px;
  border: none;
  transition: 0.3s;
}
.footer_nav .Menu .footer_navs li:hover{
color: #757575;
}
.footer_navs{
  display: flex;
  gap: 10px;
  margin:19px 28px ;
}
.footer_share_card{
  border-top:3px solid rgb(85 85 85) ;
  padding: 5% 0;
}
.footer_shares{
  padding: 5% 0;
}
.footer_share_card span{
  transition: 0.3s;
  margin-top: 20px;
}
.footer_phon span:hover{
  color: rgb(151, 151, 151);
}
.link_card{
  width: 16%;
  height: 5%; 
  color: #b388dd;
  transition: 0.3s;
}
.link_card2{
  width: 100%;
  height: 40px;
  color: #b388dd;
  transition: 0.3s;
}
.link_card_gm:hover,
.link_card2:hover,
.link_card:hover{
color: rgb(0, 89, 255);
}
.Footer_menu{
  font-size: 23px;
  transition: 0.3s;
}
.link_card_gm{
  width: 35px;
  height: 24px;
  transition: 0.3s;
}
.footer_cards{
  justify-content: space-around;
}
.footer_navs li:hover{
 color: #757575;
}
.footer_navs li{
  transition: 0.3s;
  font-weight: 500;
}