.Delivery{
    background: #339;
    padding: 6%;
}
.delivery_tit{
    position: relative;
    display: block;
    font-size: 27px;
    font-weight: 800;
    color: #ff0;
    width: 600px;
    margin-bottom: 3%;
    font-family: "Poetsen One", sans-serif;
}
.delivery_mains{
flex-wrap: nowrap;
}
.delivery_txt{
margin-bottom: 4%;
color: white;
font-weight: 600;
}
.delivery_txt_num{
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.delivery_left{
    width: 45%;
}

@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
    .delivery_mains{
        flex-wrap: wrap;
    }
    .delivery_left {
        width: 100%;
    }
    .delivery_tit{
        width: 339px;
    }
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
    .delivery_tit {
        width: 201px;
    }
    .delivery_txt_num {
        font-size: 13px;
    }
    .Whatsapp {
        width: 13%;
    }
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
    .delivery_left {
        width: 64%;
    }
    .delivery_tit {
        width: 160px;
    }
    .delivery_txt_num {
        font-size: 9px;
    }
    
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}

.delivery_tittle{
    margin: 60px 0;
}
.delivery_card_txt{
    font-family: "Poetsen One", sans-serif;
    font-size: 17px;
    color: #4c4c4c;
    margin: 3% 0;
    width: 145px;
}
.delivery_card_icon{
    width: 60px;
    height: 73px;
    color: #339;
}
.delivery{
    background: #e2e2e2;
    padding: 12px 18px 30px;
}